

/* Navbar */
#main-nav .container {
  grid-template-columns: 1fr;
}

#main-nav .logo, 
#main-nav ul {
  justify-self: center;
}

#main-nav ul li a {
  padding: 0.5rem;
  margin-left: 0;
}

#main-header .header-container h1{
  font-size: 2rem;
}

#services .services-heading {
  padding-top: 0;
}

.card-container{
  
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1.5rem;
  column-gap: 1rem;
 
}
.card-container .card:last-child{
  grid-column: 1 / span 2;
  max-width: 50%; 
}

/* CONTACT */
#contact .contact-container {
  grid-template-columns: 1fr;
  padding: 1rem .5rem;
  gap: 1.5rem;
}

.contact-container .contact-form {
  font-size: .8rem;
  font-weight: bold;
}

.contact-container .contact-info {
  max-width: 100%;
  font-size: .8rem;
}

.contact-container .contact-info ul li{
  padding: 1rem
 }

.contact-container .contact-info .fas{
  font-size: 1rem;
  margin-right: .2rem;
}

/* FOOTER */
#footer p {
  font-size: smaller;

}




@media (max-width: 668px) {
  .btn {
    padding: 0.5rem 1rem;
    font-size: .8rem;
  }

  #main-header .header-container {
    grid-template-columns: 1fr;
  }

  #main-header .header-container h1{
    font-size: 1rem;
  }

  .header-image{
    display: none;
  }

  #main-header {
    position: relative;
  }

  #main-header:before {
    content: '';
    background: url('../images/header-img.png') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
  }

  #main-header .header-content {
    z-index: 1;
    text-align: center;
  }
  
  #services .services-heading h2 {
    font-size: 1.1rem;
  }

  #services .services-heading p {
    font-size: .8rem;
    max-width: 100%;
  }

  .card-container{
  
    grid-template-columns: 1fr
     
  }

  .card-container .card,
  .card-container .card:last-child{
    max-width: 80%; 
  }

  .card-container .card .card-heading {
    font-size: 1rem;
  }

  .card-container .card i {
    font-size: 2rem;
  }

  .card-container .card-content {
    font-size: .8rem;
  }

  .card-container .card:last-child{
    grid-column: 1;
     
  }
  
  
}