:root {
  --primary-color: #293242;
  --light-bg: #f4f4f4
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
}

a {
  color: #333;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

p {
  margin: .5rem 0;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

/* Utility */
.btn {
  display: inline-block;
  border: none;
  background: var(--primary-color);
  color: #fff;
  padding: 1rem 1.5rem;
}

.btn:hover {
  border: 3px solid var(--primary-color);
  background: none;
  color: var(--primary-color);
  font-weight: bold;
  transition: all .3s ease-in-out;

}

.btn-round {
  border-radius: 50px;
}

.divider {
  background: var(--primary-color);
  height: 70px;
  
}

.divider-down {
  clip-path: polygon(0 0, 100% 0, 100% 20px, 0 100%);
}

.divider-up {
  clip-path: polygon(0 50px, 100% 0, 100% 100%, 0 100%);
}


/* .p-small {
  font-size: 1rem;
} */

/* Navbar */
#main-nav {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 2;
}

#main-nav .container {
  display: grid;
  grid-template-columns: 6fr 3fr;
  padding: 1rem;
}

#main-nav .logo {
  width: 90px;
}

#main-nav ul {
  justify-self: end;
  display: flex;
  align-items: center;
  /* text-align: center; */
}

#main-nav ul li a {
  padding: 0.75rem;
  font-weight: bold;
  margin-left: 2.5rem;
  
}

#main-nav ul li a.current{
  border-bottom: 4px solid var(--primary-color);
  padding-bottom: 0.5rem;
}

#main-nav ul li a:hover {
  background: var(--primary-color);
  color: #fff;
  transition: all .5s ease-in-out;
}


/* Header */
#main-header {
  padding: 2rem;
  background: var(--light-bg);
}

#main-header .header-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  /* height: 50vh; */
  gap: 3rem;
}

#main-header .header-container h1{
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

/* SERVICES SECTION */
#services {
  background: var(--light-bg);
  margin-bottom: 2rem;
}

#services .services-heading {
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

#services .services-heading p {
  max-width: 60%;
  margin: 0 auto;
  
    font-size: 1.1rem;
  
  
}

.card-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
  justify-items: center;
}


.card-container .card {
  background: #fff;
  padding: 1rem;
  text-align: center;
  border: 3px solid var(--primary-color);
  border-radius: 30px; 
  max-width: 90%; 
  
}

.card-container .card:hover {
  background: var(--primary-color);
  color: #fff;
  transition: all .5s ease-in-out;
}

.card-container .card i {
  padding: 1rem;
}

/* CONTACT SECTION */

#contact .contact-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  padding: 2rem;
}

.contact-container .contact-form h2 {
  margin-bottom: 1rem;
}

.contact-container .contact-form label {
  display: block;
  margin-top: 1rem;
} 

.contact-container .contact-form input,
.contact-container .contact-form textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #3334;
  padding: .2rem;
}

.contact-container .contact-form input:last-child {
  margin-top: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  border: 3px solid var(--primary-color);
  padding: 1rem 1.5rem;
}

.contact-container .contact-info {
  background: var(--primary-color);
  padding: 2rem;
  color: #fff;
  max-width: 90%;

}

.contact-container .contact-info ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
 
}

.contact-container .contact-info .fas{
  margin-right: 1.5rem;
}

/* FOOTER */
#footer {
  background: var(--primary-color);
  color: #fff;
  
}

#footer p{
  padding: 1rem;
  text-align: center;
  font-size: small;
  
}


